:root {
    --blanco: #eeeeee;
}
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'segoescript';src: url('segoescript.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';src: url('Poppins-Regular.ttf');
    font-display: swap;
}

img {
    width: 100%;
}

a {
    display: block;
}

button {
    outline: none;
    border: none;
}

body {
    position: relative;
    font-family: Poppins;
    display: flex;
    height: 100dvh;
    overflow: hidden;

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        background-image: url(imagenes/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        z-index: -1;
        animation: colorear 2s ease-out forwards;
    }

    /* .background-video {
        position: fixed;
        width: 100vw;
        height: 100dvh;
        z-index: -1;
        object-fit: cover;
        pointer-events: none;
        object-position: center;
    } */

    h1,h2,h3,h4,h5,h6 {
        position: relative;
        font-weight: bold;
        color: var(--blanco);
        font-family: segoescript;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        padding: .5em;
        border-radius: 2em;
        backdrop-filter: blur(5px);
        text-shadow: 0px 0px 30px rgb(0, 0, 0, .5);
        text-align: center;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2),
            -15px -15px 15px rgba(255, 255, 255, 0.2);
    }

    h1 {
        font-size: 1.9rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    p {
        width: fit-content;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;

        #btnMenu {
            --tamanio: 40px;
            position: fixed;
            top: 1em;
            right: 1em;
            z-index: 20;
            border-radius: 50%;
            width: var(--tamanio);
            height: var(--tamanio);
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0px 0px 20px #59e9e8;
            outline: 1px solid #59e9e8;
            transition: scale .4s, box-shadow .4s, outline .4s;
        }
        #btnMenu.on {
            scale: 1.2;
            box-shadow: 0px 0px 20px #e47ed1;
            outline: 1px solid #e47ed1;
        }

        nav {
            display: none;
            flex-direction: column;
            width: 100%;
            height: 100dvh;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);

            &.on {
                display: flex;
            }

            ul {
                width: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 2em;
                align-items: center;

                li {
                    width: 70%;
                    text-align: center;

                    a {
                        cursor: pointer;
                        box-shadow: 0px 0px 10px #59e9e8;
                        border-radius: 3em;
                        text-decoration: none;
                        color: var(--blanco);
                        width: 100%;
                        padding: .5em;
                    }
                }
            }
        }
    }

    .contenedor-root {
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        main {

            section {
                min-height: 100dvh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2em;
                padding: 1em;
                margin-block: 5em;
            }

            section:first-child {
                margin: 0;
            }
    
            /* Seccion de nosotros */
            .seccion-nosotros {
                .contenedor {
                    display: flex;
                    flex-direction: column;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .contenedor-general {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    backdrop-filter: blur(5px);
                    padding: 2em;
                    border-radius: 2em;
                    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
                    background-color: rgba(255, 255, 255, 0.3);
                    
                    .texto-general {
                        text-shadow: 0px 0px 10px white;
                    }
                }
    
                .contenedor-perfiles {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 1em;
    
                    .contenedor-general-perfil {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        img {
                            width: 200px;
                            height: 200px;
                        }
    
                        .contenedor-perfil {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;
                            padding: 1em;
                            border-radius: 2em;
                
                            p {
                                color: white;
                                text-shadow: 0px 0px 10px black;
                            }
                
                            .nombre {
                                text-align: right;
                                font-size: .8rem;
                            }
                        }
                        .contenedor-karen {
                            background-color: rgba(209, 119, 231, 0.7);
                        }
                        .contenedor-victor {
                            background-color: rgba(131, 229, 231, 0.7);
                        }
                    }
                    
                    .img-perfil {
                        border-radius: 2em;
                    }
                }
            }
    
    
            /* Seccion de servicios */
            .seccion-servicios {
                position: relative;
    
                .tarjeta-principal {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    padding: 2em;
                    backdrop-filter: blur(5px);
                    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2),
                    -15px -15px 15px rgba(255, 255, 255, 0.2);
                    border-radius: 2em;
    
                    .titulo {
                        font-size: 1.3rem;
                        font-weight: bold;
                        text-align: center;
                    }
    
                    .div-descripciones {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        justify-content: center;
                        align-items: center;
    
                        .div-descripcion {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 150px;
                            height: 150px;
                            background-color: rgba(255, 255, 255, 0.484);
                            border-radius: 50%;
    
                            p {
                                text-align: center;
                            }
                        }
                    }
                }
    
                .div-lista-servicios {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    justify-content: space-evenly;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding-block: 10px;
                    width: 100%;
                    max-width: 800px;
                    border-radius: 20px;
                    overflow-x: auto;
                    gap: 1em;
                    padding: 1em;
                    justify-items: center;

                    &:has(.div-imagen:hover) .div-imagen:not(:hover) {
                        opacity: .5;
                    }
    
                    .div-imagen {
                        width: 100px;
                        height: 100px;
                        padding: 5px;
                        cursor: pointer;
                        border-radius: 1em;
                        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
                        scale: 1;
                        backdrop-filter: blur(0px);
                        z-index: 1;
                        transition: all .4s;

                        &:hover {
                            scale: 1.1;
                            backdrop-filter: blur(10px);
                            z-index: 3;
                            box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
                        }

                        img {
                            filter: invert(1);
                        }
                    }
                }
            }


            /* Seccion de trabajos y clientes */
            .seccion-trabajos-clientes {
                
                .contenedor-general-clientes {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 2em;

                    .contenedor-cliente {
                        padding: 1em;
                        backdrop-filter: blur(5px);
                        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2), -15px -15px 15px rgba(255, 255, 255, 0.2);
                        border-radius: 2em;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        cursor: pointer;
                        text-decoration: none;
                        gap: 1em;
                        background-color: rgba(255, 255, 255, 0.2);
                        transition: scale .4s;

                        &:hover {
                            scale: 1.05;
                        }

                        span {
                            text-shadow: 0px 0px 10px white;
                            color: black;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                        }

                        .titulo {
                            font-weight: bold;
                            font-size: 1.2rem;
                        }

                        .cliente {
                            font-size: 1.1rem;
                        }

                        .detalles {
                            font-size: 1rem;
                        }

                    }
                }

            }

            /* Seccion del blog */
            .seccion-blog {

                .contenedor-general-blog {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2em;

                    .contenedor-blog {
                        padding: 1em;
                        backdrop-filter: blur(5px);
                        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2), -15px -15px 15px rgba(255, 255, 255, 0.2);
                        border-radius: 2em;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        span {
                            text-shadow: 0px 0px 10px white;
                            font-size: 1rem;
                        }

                    }
                }

            }

            /* Seccion contacto */
            .seccion-contacto {

                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1em;
                    backdrop-filter: blur(5px);
                    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2), -15px -15px 15px rgba(255, 255, 255, 0.2);
                    border-radius: 2em;
                    padding: 2em;
                    width: 100%;

                    .div-input {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        textarea {
                            resize: vertical;
                            min-height: 100px;
                            max-height: 250px;
                        }
                    }

                    label {
                        text-shadow: 0px 0px 5px white;
                    }

                    input,
                    textarea {
                        border: none;
                        outline: none;
                        padding: .6em;
                        border-radius: 2em;
                        background-color: rgba(255, 255, 255, 0.5);
                        text-shadow: 0px 0px 5px white;
                        width: 100%;
                    }

                    input[type="submit"]{
                        cursor: pointer;
                        font-size: 1.2rem;
                    }

                }

            }
        }
    }
}
@keyframes colorear {
    from {
        filter: brightness(.5) blur(30px);
        scale: 15;
        transform: rotateZ(360deg);
    }
    to {
        filter: brightness(1) blur(0);
        scale: 1;
        transform: rotateZ(0deg); 
    }
}

/* Responsive */
@media screen and (min-width: 768px) {
    body {
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 2rem;
        }

        .contenedor-root {
            main {
                section {
                    &:first-child img {
                        width: 50%;
                    }
                }

                .seccion-nosotros {
                    .contenedor-perfiles {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        .contenedor-general-perfil {
                            flex-direction: column;
                        }
                    }
                }

                .seccion-servicios {
                    .tarjeta-principal {
                        .div-descripciones {
                            flex-direction: row;
                        }
                    }

                    .div-lista-servicios {
                        display: flex;
                        flex-direction: row;
                    }
                }

                .seccion-trabajos-clientes {
                    .contenedor-general-clientes {
                        grid-template-columns: repeat(2, 1fr)
                    }
                }

                .seccion-blog {
                    .contenedor-general-blog {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }

                .seccion-contacto {
                    form {
                        width: 500px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    body {
        header {
            position: relative;
            display: flex;
            width: 200px;
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

            #btnMenu {
                display: none;
            }

            nav {
                position: relative;
                display: flex;
                background-color: transparent;

                ul {
                    &:has(li a:hover) li a:not(a:hover) {
                        opacity: .5;
                    }

                    li {
                        a {
                            transition: width .4s, box-shadow .4s, opacity .4s;
                            &:hover {
                                width: 130%;
                                box-shadow: 0px 0px 40px #59e9e8;
                            }
                        }
                    }
                }
            }
        }

        .contenedor-root {
            main {
                max-width: 1024px;
                margin: 0 auto;

                .seccion-trabajos-clientes {
                    .contenedor-general-clientes {
                        grid-template-columns: repeat(3, 1fr)
                    }
                }
            }
        }
    }
}